In [1]:
import pandas as pd
import tensorflow as tf
from numpy import *
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('employee_course_ratings.csv')
df.head()

   EmployeeID          EmpName  CourseID                   CourseName  Rating
0        1408   Ignace Ormonde        14             Video Production       3
1        1249  Gabriela Balcon        17                  Translation       2
2        1158    Enrique Lewer         8              IT Architecture       3
3        1564      Wallie Byrd        18  Natural Language Processing       3
4        1334    Hannah Ganter         6             Java Programming       4

In [3]:
em = pd.read_csv('employee_attrition.csv')
cg = pd.read_csv('chat_groups.csv')

In [4]:
em.head()

,EmployeeID,TotalMonthsOfExp,TotalOrgsWorked,MonthsInOrg,LastPayIncrementBand,AverageFeedback,LastPromotionYears,Attrition
0,1,110,4,9,5,4,4,1
1,2,103,3,51,1,4,2,0
2,3,41,4,16,5,4,4,1
3,4,32,4,17,5,2,3,0
4,5,80,3,16,3,4,2,0

In [5]:
em.describe()

,EmployeeID,TotalMonthsOfExp,TotalOrgsWorked,MonthsInOrg,LastPayIncrementBand,AverageFeedback,LastPromotionYears,Attrition
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000
mean,500.500000,61.002000,3.056000,31.000000,3.063000,2.539000,2.45400,0.230000
std,288.819436,34.818132,1.398148,26.783341,1.413162,1.143585,1.10413,0.421043
min,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.00000,0.000000
25%,250.750000,31.000000,2.000000,9.000000,2.000000,1.000000,1.00000,0.000000
50%,500.500000,61.000000,3.000000,23.000000,3.000000,3.000000,2.00000,0.000000
75%,750.250000,91.250000,4.000000,48.000000,4.000000,4.000000,3.00000,0.000000
max,1000.000000,120.000000,5.000000,116.000000,5.000000,4.000000,4.00000,1.000000

In [6]:
em.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   EmployeeID            1000 non-null   int64
 1   TotalMonthsOfExp      1000 non-null   int64
 2   TotalOrgsWorked       1000 non-null   int64
 3   MonthsInOrg           1000 non-null   int64
 4   LastPayIncrementBand  1000 non-null   int64
 5   AverageFeedback       1000 non-null   int64
 6   LastPromotionYears    1000 non-null   int64
 7   Attrition             1000 non-null   int64
dtypes: int64(8)
memory usage: 62.6 KB

In [7]:
em.isnull().sum()

EmployeeID              0
TotalMonthsOfExp        0
TotalOrgsWorked         0
MonthsInOrg             0
LastPayIncrementBand    0
AverageFeedback         0
LastPromotionYears      0
Attrition               0
dtype: int64

In [8]:
em.corr()

,EmployeeID,TotalMonthsOfExp,TotalOrgsWorked,MonthsInOrg,LastPayIncrementBand,AverageFeedback,LastPromotionYears,Attrition
EmployeeID,1.000000,-0.057483,0.036784,-0.016303,-0.144755,0.055054,-0.035684,-0.036630
TotalMonthsOfExp,-0.057483,1.000000,0.053769,0.667504,-0.012453,-0.038315,0.007059,0.019702
TotalOrgsWorked,0.036784,0.053769,1.000000,0.027159,-0.003307,0.001763,-0.041774,0.008706
MonthsInOrg,-0.016303,0.667504,0.027159,1.000000,-0.017984,-0.013334,0.009309,0.012605
LastPayIncrementBand,-0.144755,-0.012453,-0.003307,-0.017984,1.000000,-0.017317,0.094561,0.108528
AverageFeedback,0.055054,-0.038315,0.001763,-0.013334,-0.017317,1.000000,-0.002145,-0.008253
LastPromotionYears,-0.035684,0.007059,-0.041774,0.009309,0.094561,-0.002145,1.000000,0.765641
Attrition,-0.036630,0.019702,0.008706,0.012605,0.108528,-0.008253,0.765641,1.000000

Attrition doesnot largely depend upon AverageFeedback

In [9]:
em.drop(['AverageFeedback'],1,inplace=True)

<ipython-input-9-f49d462431d2>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  em.drop(['AverageFeedback'],1,inplace=True)

In [10]:
em.head()

,EmployeeID,TotalMonthsOfExp,TotalOrgsWorked,MonthsInOrg,LastPayIncrementBand,LastPromotionYears,Attrition
0,1,110,4,9,5,4,1
1,2,103,3,51,1,2,0
2,3,41,4,16,5,4,1
3,4,32,4,17,5,3,0
4,5,80,3,16,3,2,0

In [11]:
from sklearn.model_selection import train_test_split
X = em.drop(['Attrition'],1)
y = em['Attrition']

<ipython-input-11-872459db8bd5>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X = em.drop(['Attrition'],1)

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=42)

In [13]:
len(X_train), len(X_test)

(700, 300)

In [14]:
em['Attrition'].unique()

array([1, 0])

In [25]:
from sklearn.linear_model import LogisticRegression

In [26]:
model = LogisticRegression()

In [27]:
model.fit(X_train,y_train)

/opt/homebrew/Caskroom/miniforge/base/envs/tensorflow/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [28]:
model.score(X_test,y_test)

1.0

In [33]:
model.predict(X_test)

array([0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0])